.sign_in_wrap {
    display: flex;
}
.sign_in {
    display: block;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.sign_in_title,
.sign_in_account,
.sign_in_password,
.sign_in_button {
    display: flex;
    justify-content: center;
}
.input_account, .input_password {
    border-radius: 0.3rem;
    line-height: 1.2rem;
    margin: 0.2rem 0;
    padding: 0 0.5rem;
}
.sign_in_button {
    margin-top: 0.5rem;
}