.todo-item {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: .75rem .5rem;
    padding: .75rem;
    border: 1px solid rgb(150, 150, 147);
    border-radius: .5rem;

    // todo-item-name-input
    &-name-input {
        border-radius: 0.3rem;
        padding: .2rem .5rem;
        width: 15rem;
    }
    
    // todo-item-isDone
    &-isDone {
        border: 1px solid black;
        height: 1rem;
        width: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2rem 0 .75rem;
        &:hover {
            cursor: pointer;
        }
    }

    // todo-item-select
    &-select {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        margin-right: .5rem;
    }

    &-level {
        span {
            padding: 0.1rem 0.3rem;
            border-radius: 0.3rem;
            margin-right: 0.5rem;
        }
    }
    &-update-button,
    &-delete-button {
        padding: 0.2rem 0.75rem;
        margin: 0 0.25rem;
        border-radius: 0.5rem;
        border: 0.5px solid black;
        &:hover {
            cursor: pointer;
        }
    }
}
