.todo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin: 0.3rem 0;
    /* border: 1px solid black; */
}

.todo-item-id,
.todo-item-name,
.todo-item-isDone {
    margin: 0 8rem;
}

.todo-item-isDone {
    border: 1px solid black;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-item-isDone:hover {
    cursor: pointer;
}

.todo-item-update-button,
.todo-item-delete-button {
    padding: 0.2rem 0.75rem;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
    border: 0.5px solid black;
}

.todo-item-update-button:hover,
.todo-item-delete-button:hover {
    cursor: pointer;
}