.td-done {
    display: inline-flex;
    justify-content: center;
}

.toto-item--border {

}

.input-todo-item__Name {
    border-radius: 0.5rem;
    padding: 0.2rem 0.75rem;
}
.todo-item__Name {
    text-align: start;
    padding-left: 2rem;

}

.todo-item__Delete, .todo-item__Update {
    border-radius: .2rem;
    border: 0.5px solid black;
    margin: 0 5px;
    padding: 0.05rem 0.25rem;
}
.todo-item__Delete:hover, .todo-item__Update:hover {
    cursor: pointer;
}

.todo-item__isDone {
    border: 1px solid black;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-item__isDone:hover {
    cursor: pointer;
}
