/* Header */
.todo-list-header {
    display: flex;
    justify-content: space-between;
    margin: 0rem 17rem;
}
.todo-list-header-id, 
.todo-list-header-name,
.todo-list-header-isDone {
    margin: 0 8rem;
}
/* Header */

/* Body */
.todo-list {
    margin-top: 2rem;
}
.thead-id {
    width: 10rem;
}
.thead-name {
    width: 20rem;
}
.thead-done {
    width: 5rem;
}
.thead-actions {
    width: 10rem;
}
/* Body */