.todo-list {
    display: flex;
    margin-top: 2rem;
}

.todo-list__add {
    margin: 10rem 4rem 0 4rem;
}

.button-add-item:hover {
    cursor: pointer;
}

.thead-id {
    width: 10rem;
}
.thead-name {
    width: 20rem;
}
.thead-done {
    width: 5rem;
}
.thead-actions {
    width: 10rem;
}

.todo-item {
    line-height: 2rem;
}

.todo-list__select {
    display: flex;
    justify-content: center;
}
.button-select {
    padding: 0.25rem 0.5rem;
}
.button-select:hover {
    cursor: pointer;
}
