@mixin add-item {
    border-radius: .3rem;
    padding: 0.15rem 0.4rem 0.15rem 0.4rem;
}
.add-item-wrap {
    display: flex;
    justify-content: center;
}
.add-item {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1em 3.5em;
    margin-top: 10em;
    &-name {
        &-title {
            margin: 0.3rem 0;
        }
        &-wrap {
            margin-left: 1em;
            position: relative;
        }
        &-input {
            @include add-item;     
        }
        &-warning {
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: 13px;
            color: red;
        }
    }
    &-select {
        &-title {
            margin: 0.3rem 0;
        }
        &-wrap {
            margin-left: 1em;
            margin-top: 1.5em;
        }
        &-select {
            @include add-item;
        }
    }
    &-button {
        @include add-item;
        padding: 0.2rem 1.5rem;
        margin: 1.5rem 0.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}
